.img-200{
    width: 200px;
    height: 200px;
}
.img-circle{
    border-radius: 100%;
}
.bg-black{
    background-color: #000;
}
.bg-yellow{
    background-color: #f1c40f;
}
.font-white{
    color: #fff;
}
.margin-left-10{
    margin-left: 10%;
}
.margin-right-10{
    margin-right: 10%;
}
.margin-10{
    margin-right: 10%;
    margin-left: 10%;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.color-pink{
    color: #ff0099;
}
.color-green{
    color: #00ff00;
}
.color-blue{
    color: #0000ff;
}
.font-arial{
    font-family: Arial, Helvetica, sans-serif;
}
.font-times-new-roman{
    font-family:'Times New Roman', Times, serif
}
.dynamic-undeline-link{
    text-decoration: none;
}
.dynamic-undeline-link:hover{
    text-decoration: underline;
}
span.flip_V{ display: inline-block; margin:1em; } 
.flip_V{ 
  transform: scale(1, -1); }
  .flip_V::first-letter{font-size: 30px;}

  dt{
    color:yellow;
  }